body {
  font-size: 15px;
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
  height: 9000px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
  }
}

.hamburger__button {
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger__button {
    display: inline-block;
    position: fixed;
    right: 25px;
    top: 30px;
    z-index: 101;
  }
  .hamburger__button a,
  .hamburger__button span {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .hamburger__button a {
    position: relative;
    width: 30px;
    height: 23px;
  }
  .hamburger__button span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
  }
  .hamburger__button span:nth-of-type(1) {
    top: 0;
  }
  .hamburger__button span:nth-of-type(2) {
    top: 10px;
  }
  .hamburger__button span:nth-of-type(3) {
    bottom: 0;
  }
  .hamburger__button.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
    background-color: #ca8cdc;
  }
  .hamburger__button.active span:nth-of-type(2) {
    opacity: 0;
  }
  .hamburger__button.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
            transform: translateY(-10px) rotate(45deg);
    background-color: #f5e7ee;
  }
  .hamburger__button.changeColor span {
    background-color: #E5DBE4;
  }
}

.hamburger__container {
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger__container {
    display: block;
    position: fixed;
    z-index: 100;
    right: -100%;
    top: 0;
    height: 100%;
    background-color: #fff;
    width: 80%;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .hamburger__container.active {
    right: 0;
  }
  .hamburger__container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
  .hamburger__container a {
    color: #222;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

@media screen and (max-width: 767px) {
  .hamburger__fadeout-layer {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #000000;
    display: none;
    opacity: 0.5;
    z-index: 100;
  }
  .hamburger__item {
    margin-bottom: 40px;
  }
}

.header__scrolldown-button {
  position: absolute;
  bottom: 90px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
  display: inline-block;
  text-decoration: none;
  padding-top: 60px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__scrolldown-button span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
          animation: sdb 2s infinite;
}

@media screen and (max-width: 767px) {
  .header__scrolldown-button {
    bottom: 60px;
  }
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
            transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
  }
  50% {
    -webkit-transform: rotateY(3.142rad) rotateZ(-45deg) translate(-10px, 10px);
            transform: rotateY(3.142rad) rotateZ(-45deg) translate(-10px, 10px);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(0, 0);
            transform: rotateY(720deg) rotateZ(-45deg) translate(0, 0);
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
            transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
  }
  50% {
    -webkit-transform: rotateY(3.142rad) rotateZ(-45deg) translate(-10px, 10px);
            transform: rotateY(3.142rad) rotateZ(-45deg) translate(-10px, 10px);
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(0, 0);
            transform: rotateY(720deg) rotateZ(-45deg) translate(0, 0);
  }
}

.header__scrolldown__fadeout {
  opacity: 0;
  visibility: hidden;
}

.header__scrolldown__fadein {
  opacity: 1;
  visibility: visible;
}

.header__global-nav {
  background-color: rgba(202, 140, 220, 0.15);
  width: 100%;
  padding: 25px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  margin-left: auto;
}

.header__global-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__global-nav ul li {
  font-size: 17px;
  font-weight: 300;
  margin: 0 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__global-nav ul li:hover {
  color: #666;
}

@media screen and (max-width: 767px) {
  .header__global-nav {
    display: none;
  }
}

.header__global-nav.is-fixed-nav {
  position: fixed;
  width: 450px;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.header__global-nav.is-fixed-nav a {
  color: #333;
}

.header__global-nav.is-fixed-nav li {
  font-size: 15px;
  margin: 0 13px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__global-nav.is-fixed-nav li:hover {
  color: #666;
}

.header {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat left bottom;
  background-size: cover;
  color: #fff;
}

.header__site-logo {
  width: 840px;
  height: auto;
  margin: 350px 0 80px;
  -webkit-filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.16));
}

@media screen and (max-width: 767px) {
  .header__site-logo {
    margin-top: 300px;
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */