.skewed-bg {
  position: relative;
  overflow: hidden;
  background-color: $bgColor;
  margin-top: 100px;
  padding-bottom: 60px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 15vw solid #fff;
    border-right: 100vw solid transparent;
  }
}

.skewed-bg__children {
  margin-top: -70px;
  position: relative;
  z-index: 1;
}