.skewed-bg {
  padding-bottom: calc(10vw + 10px);
  position: relative;
  overflow: hidden;
  background-color: $bgColor;
  margin-top: 100px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10vw solid #fff;
    border-right: 100vw solid transparent;
  }
}