.swiper-wrapper {
  margin-top: 20px;

  &:hover {
    cursor: url(../img/drag_cursor.cur), default;
  }
}

.swiper-custom-parent {
  margin-left: auto;
  position: relative;

  @include mq(sp) {
    // max-width: 400px;
  }
}

.swiper-container {
  overflow: visible;
}

.swiper-slide {
  width: 550px;
  height: 340px;



  @include mq(sp) {
    width: 250px;
    height: 177px;
  }
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .2s ease-in-out;
  border-radius: 10px;
  box-shadow: $boxShadow;
}

/* .carousel-image:hover {
  transform: scale(1.2);
} */