$bgColor:#f5e7ee;
$moduleColor:#ca8cdc;
$cursiveFont:'Kaushan Script',
cursive;
$boxShadow:1px 8px 16px -7px rgba(0, 0, 0, 0.3);

// メディアクエリを設定する関数　ここから　-----------------------------------
$innerWidth: 1200px;
$breakpoints: ("sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$innerWidth - 1px})",
  "pc": "screen and (min-width: #{$innerWidth})",
);

@mixin mq($breakpoint: sp) {

  // mqは自分で命名しているmixinの名前（media query)
  // 引数は$breakpointで、初期値はSP
  @media #{map-get($breakpoints, $breakpoint)} {
    // $breakpointsからmapを持って来て、
    // 引数$breakpointでどの数値(sp, tab, pc)をもらうか指定する
    @content;
    // 呼び出した側の内容も合体する
  }
}

// メディアクエリを設定する関数　ここまで　-----------------------------------