@import "variables";
@import "basic";
@import "hamburger";
@import "scrolldown";
@import "globalnav";
@import "skewed-bg";
@import "swiper";
@import "skillbar";


.header {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url('../img/bg.jpg') no-repeat left bottom;
  background-size: cover;
  color: #fff;
}

.header__site-logo {
  width: 840px;
  height: auto;
  margin: 350px 0 80px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, .16));

  @include mq(sp) {
    margin-top: 300px;
    width: 80%;
  }
}

.ly-inner {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    width: $innerWidth;
  }
}

.headding {
  font-family: 'Kaushan Script', cursive;
  color: #9badc3;
  font-size: 100px;
}

.sub-headding {
  font-weight: 700;

  &::after {
    content: '';
    display: block;
    width: 345px;
    height: 2px;
    margin: 0px auto 10px;
    background-color: $moduleColor;
  }

  &__greeting {
    margin-bottom: 30px;
  }

  &__skills-webdesign {
    &::after {
      width: 180px;
      margin: 0;
    }
  }

  &__skills-coding {
    &::after {
      width: 180px;
      margin: 0;
    }
  }

  &__skills-wannado {
    &::after {
      width: 220px;
      margin: 0;
    }
  }
}

.greeting {
  margin-top: 40px;

  span {
    display: block;
  }

  &__message {
    margin-top: 20px;
  }

  &__button {
    margin-top: 50px;

    button {
      appearance: none;
      border-radius: 50px;
      font-family: inherit;
      transition: 1s;

      font-weight: 700;
      color: #fff;
      padding: 15px 40px;
      position: relative;
      z-index: 0;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50px;

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        transition: 0.5s;
        background: linear-gradient(to right, #FF8DCC, #9890FF);
        box-shadow: $boxShadow;
      }

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50px;

        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #9890FF, #FF8DCC);
        box-shadow: $boxShadow;
      }

      &:hover:before {
        opacity: 0;
      }
    }
  }
}

.about__wrapper {
  text-align: right;
}

.about__media {
  display: flex;
  justify-content: center;
  text-align: left;
}

.about__picture {
  margin-right: 50px;

  img {
    border-radius: 50%;
    width: 480px;
    height: auto;
    box-shadow: $boxShadow;
  }
}

.about__introduction {
  margin-left: 50px;
}

.about__introduction__subtitle {
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 15px;
}

.about__introduction__text {
  margin-bottom: 50px;

  // listのデコレーションをfontawesomeフォントでメープルに変更
  ul {
    padding-left: 1.5em;
    position: relative;
    margin-top: 25px;
    text-align: left;

    li {
      list-style: none;
    }

    li::before {
      font-family: "Font Awesome 5 brands";
      content: "\f785";
      position: absolute;
      left: 0;
      color: #BF5858;
      font-weight: 900;
    }
  }

  // listのデコレーションをfontawesomeフォントでメープルに変更
}

.personality {
  .headding {
    text-align: left;
  }
}

.personality__wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  width: 90%;
  margin: -30px auto 0;

  @include mq(sp) {
    display: flex;
    flex-flow: column;
  }
}

.personality__box {
  width: 33%;
  max-width: 330px;
  position: relative;
  margin: 0 20px;
  text-align: center;

  @include mq(sp) {
    width: 90%;
    position: relative;
    margin: 0 auto 50px;
  }
}

.personality__icon {
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 130px;
    height: auto;
  }

  @include mq(sp) {
    font-size: 4rem;
    padding: 23px;
    margin-bottom: 25px;
  }
}

.js-slide {
  &-first {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .7s .3s ease-out;
    margin-top: 120px;
  }

  &-second {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .7s .5s ease-out;
    margin-top: 60px;
  }

  &-third {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .7s .7s ease-out;
  }
}

.personality__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.skills {
  .headding {
    text-align: right;
  }
}

.skills__wrapper {
  text-align: left;
  display: flex;
  justify-content: center;

  ul {
    margin-bottom: 30px;
  }
}

.skills__list {
  ul {
    padding-left: 1.5em;
    position: relative;
    margin-top: 25px;
    text-align: left;

    li {
      list-style: none;
    }

    li::before {
      font-family: "Font Awesome 5 free";
      content: "\f138";
      position: absolute;
      left: 0;
      color: #777;
      font-weight: 900;
    }
  }
}

.works {
  .headding {
    text-align: left;
  }
}

.works__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.works__box {
  width: 350px;
  height: 216px;
  margin: 20px 20px;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: $boxShadow;
    transition: .3s;

    &:hover {
      cursor: pointer;
      margin-top: 8px;
      box-shadow: none;
    }


  }

  img {
    width: auto;
    height: 100%;
  }

}