@import "variables";
@import "basic";
@import "hamburger";
@import "scrolldown";
@import "globalnav";
@import "skewed-bg";


.header {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url('../img/bg.jpg') no-repeat left bottom;
  background-size: cover;
  color: #fff;
}

.header__site-logo {
  width: 840px;
  height: auto;
  margin: 350px 0 80px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, .16));

  @include mq(sp) {
    margin-top: 300px;
    width: 80%;
  }
}

.ly-inner {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  @include mq(pc) {
    width: $innerWidth;
  }
}

.headding {
  font-family: 'Kaushan Script', cursive;
  color: #9badc3;
  font-size: 100px;
}

.sub-headding {
  font-weight: 700;

  &::after {
    content: '';
    display: block;
    width: 345px;
    height: 2px;
    margin: 7px auto 10px;
    background-color: $moduleColor;
  }

  &__greeting {
    margin-bottom: 30px;
  }
}

.greeting {
  margin-top: 40px;

  span {
    display: block;
  }

  &__message {
    margin-top: 20px;
  }

  &__button {
    margin-top: 50px;

    button {
      appearance: none;
      border-radius: 50px;
      font-family: inherit;
      transition: 1s;

      font-weight: 700;
      color: #fff;
      padding: 15px 40px;
      position: relative;
      z-index: 0;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50px;

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        transition: 0.5s;
        background: linear-gradient(to right, #FF8DCC, #9890FF);
        box-shadow: 0px 3px 16px -6px rgba(0, 0, 0, 0.40);
      }

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50px;

        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #9890FF, #FF8DCC);
        box-shadow: 0px 3px 16px -6px rgba(0, 0, 0, 0.40);
      }

      &:hover:before {
        opacity: 0;
      }
    }
  }
}

.about__wrapper {
  margin-top: -70px;
  position: relative;
  z-index: 1;
  text-align: right;
}

.about__media {
  display: flex;
  justify-content: center;
  text-align: left;
}

.about__picture {
  margin-right: 50px;

  img {
    border-radius: 50%;
    width: 480px;
    height: auto;
    box-shadow: 1px 8px 16px -7px rgba(0, 0, 0, 0.3);
  }
}

.about__introduction {
  margin-left: 50px;
}

.about__introduction__subtitle {
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 15px;
}

.about__introduction__text {
  margin-bottom: 50px;

  // listのデコレーションをfontawesomeフォントでメープルに変更
  ul {
    padding-left: 1.5em;
    position: relative;
    margin-top: 25px;
    text-align: left;

    li {
      list-style: none;
    }

    li::before {
      font-family: "Font Awesome 5 brands";
      content: "\f785";
      position: absolute;
      left: 0;
      color: #BF5858;
      font-weight: 900;
    }
  }

  // listのデコレーションをfontawesomeフォントでメープルに変更
}