@import "variables";
@import "basic";
@import "hamburger";
@import "scrolldown";
@import "globalnav";
@import "skewed-bg";
@import "swiper";
@import "skillbar";


.header {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url('../img/bg.jpg') no-repeat left bottom;
  background-size: cover;
  color: #fff;


}

.header__site-logo {
  width: 70%;
  height: auto;
  margin: 350px 0 80px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, .16));

  @include mq(pc) {
    width: 840px;
  }

  @include mq(sp) {
    margin-top: 300px;
    width: 80%;
  }
}

.ly-inner {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    width: $innerWidth;
  }
}

.headding {
  font-family: $cursiveFont;
  color: #9badc3;
  font-size: 70px;

  @include mq(pc) {
    font-size: 100px;
  }

  @include mq (sp) {
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
  }
}

.sub-headding {
  font-weight: 700;

  &::after {
    content: '';
    display: block;
    height: 2px;
    margin: 0px auto 10px;
    width: 345px;
    background-color: $moduleColor;

    @include mq(sp) {
      width: 345px;
    }
  }

  &__greeting {
    margin-bottom: 30px;

    @include mq(sp) {
      &::after {
        width: 100px;
        margin: 0 auto;
      }
    }
  }

  &__skills-webdesign {
    &::after {
      width: 180px;
      margin: 0;
    }
  }

  &__skills-coding {
    &::after {
      width: 180px;
      margin: 0;
    }
  }

  &__skills-wannado {
    &::after {
      width: 220px;
      margin: 0;
    }
  }

  &__works-modal-mwam {
    &::after {
      width: 280px;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  &__works-modal-recruiting {
    &::after {
      width: 185px;
      margin-bottom: 50px;
    }
  }

  &__works-modal-quorea {
    &::after {
      width: 140px;
      margin-bottom: 50px;
    }
  }

  &__works-modal-clothes {
    &::after {
      width: 240px;
      margin-bottom: 50px;
    }
  }

  &__works-modal-furniture {
    &::after {
      width: 250px;
      margin-bottom: 50px;
    }
  }

}

.greeting {
  margin-top: 40px;

  span {
    display: block;
  }

  &__message {
    margin-top: 20px;
  }

  &__button {
    margin-top: 50px;

    button {
      appearance: none;
      border-radius: 50px;
      font-family: inherit;
      transition: 1s;

      font-weight: 700;
      color: #fff;
      padding: 15px 40px;
      position: relative;
      z-index: 0;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50px;

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        transition: 0.5s;
        background: linear-gradient(to right, #FF8DCC, #9890FF);
        box-shadow: $boxShadow;
      }

      &:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50px;

        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        background: linear-gradient(to right, #9890FF, #FF8DCC);
        box-shadow: $boxShadow;
      }

      &:hover:before {
        opacity: 0;
      }
    }
  }
}

.greeting__message {

  >span {
    font-size: 13px;

    @include mq(sp) {
      font-size: 11px;
    }
  }
}

.greeting__pc-visible {
  @include mq(sp) {
    display: none;
  }
}

.greeting__sp-visible {
  display: none;

  @include mq(sp) {
    display: block;
    text-align: left;

    div {
      text-align: center;
      font-weight: 700;
    }
  }
}

.reason__body {
  background: url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}


.reason__wrapper {
  width: 70%;
  padding: 0 110px 50px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .5);
  position: relative;

  @include mq(pc) {
    width: 1100px;
  }

  span {
    display: block;
    font-weight: 700;
  }

  .headding {
    color: #fff;
  }
}

.reason__globalnav {
  color: #fff;
  position: fixed;
  transform: rotateZ(90deg);
  top: 50%;
  right: -70px;

  ul {
    display: flex;
    justify-content: center;

    li {
      margin-left: 10px;
      margin-right: 10px;
      font-family: $cursiveFont;
      font-size: 20px;
    }

  }
}


.reason__list {
  margin-bottom: 100px;

  ol {
    counter-reset: list;
    padding: 0px;

    li {
      position: relative;
      line-height: 30px;
      margin: 15px 0px 15px 40px;
      padding-left: 10px;
      font-weight: bold;
      font-size: 15px;

      &:before {
        counter-increment: list;
        content: counter(list);
        position: absolute;
        top: 0;
        left: -34px;
        width: 30px;
        height: 30px;
        text-align: center;
        color: #fff;
        line-height: 30px;
        z-index: 1;
      }

      &:after {
        content: "";
        position: absolute;
        top: 3px;
        left: -32px;
        width: 25px;
        height: 25px;
        background: $moduleColor;
        color: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.reason__ly-space-bottom {
  &__large {
    margin-bottom: 60px;
  }

  &__small {
    margin-bottom: 30px;
  }
}

.reason__conclusion {
  text-align: center;
  margin: 100px 0;
  font-size: 27px;
  font-weight: 700;

  span {
    color: $moduleColor;
  }
}

.reason__back {
  text-align: center;
  font-size: 30px;
}

.about__wrapper {
  text-align: right;
}

.about__media {
  display: flex;
  justify-content: center;
  text-align: left;

  @include mq(sp) {
    display: block;
  }
}

.about__picture {
  margin-right: 50px;

  @include mq(sp) {
    margin: 0;
  }

  img {
    border-radius: 50%;
    width: 480px;
    height: auto;
    box-shadow: $boxShadow;

    @include mq(sp) {
      width: 100%;
    }
  }
}

.about__introduction {
  margin-left: 50px;

  @include mq(sp) {
    margin: 0;
  }
}

.about__introduction__pc-visible {
  @include mq(sp) {
    display: none;
  }
}

.about__introduction__sp-visible {
  display: none;

  @include mq(sp) {
    display: block;
    margin-top: 40px;

    .about__introduction__subtitle {
      text-align: center;
    }
  }
}


.about__introduction__subtitle {
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 15px;
}

.about__introduction__text {
  margin-bottom: 50px;

  // listのデコレーションをfontawesomeフォントでメープルに変更
  ul {
    padding-left: 1.5em;
    position: relative;
    margin-top: 25px;
    text-align: left;

    li {
      list-style: none;
    }

    li::before {
      font-family: "Font Awesome 5 brands";
      content: "\f785";
      position: absolute;
      left: 0;
      color: #BF5858;
      font-weight: 900;
    }
  }

  // listのデコレーションをfontawesomeフォントでメープルに変更
}

.personality {
  .headding {
    text-align: left;
  }
}

.personality__wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  width: 90%;
  margin: -30px auto 0;

  @include mq(sp) {
    display: flex;
    flex-flow: column;
  }
}

.personality__box {
  width: 33%;
  max-width: 330px;
  position: relative;
  margin: 0 20px;
  text-align: center;

  @include mq(sp) {
    width: 90%;
    position: relative;
    margin: 0 auto 50px;
  }
}

.personality__icon {
  margin: 0 auto 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 130px;
    height: auto;
  }

  @include mq(sp) {
    font-size: 4rem;
    padding: 23px;
    margin-bottom: 25px;
  }
}

.js-slide {
  &-first {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .7s .3s ease-out;
    margin-top: 120px;
  }

  &-second {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .7s .5s ease-out;
    margin-top: 60px;
  }

  &-third {
    opacity: 0;
    transform: translate(0, 50px);
    transition: all .7s .7s ease-out;
  }
}

.personality__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.skills {
  // margin-top: -50px;

  .headding {
    text-align: right;
  }
}

.skills__wrapper {
  text-align: left;
  display: flex;
  justify-content: center;

  ul {
    margin-bottom: 30px;
  }
}

.skills__list {
  ul {
    padding-left: 1.5em;
    position: relative;
    margin-top: 25px;
    text-align: left;

    li {
      list-style: none;
    }

    li::before {
      font-family: "Font Awesome 5 free";
      content: "\f138";
      position: absolute;
      left: 0;
      color: $moduleColor;
      font-weight: 900;
    }
  }
}

.works {
  .headding {
    text-align: left;
  }
}

.works__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.works__box {
  width: 350px;
  height: 216px;
  margin: 20px 20px;

  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: $boxShadow;
    transition: .3s;

    &:hover {
      cursor: pointer;
      margin-top: 8px;
      box-shadow: none;
    }
  }

  img {
    width: auto;
    height: 100%;
  }
}

.works__modal {
  display: none;
  // 初期状態は非表示→jQueryでボタンクリック時に表示させるので最初は非表示
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  overflow-y: scroll;
}

.works__modal__bg {
  background: rgba($bgColor, 0.6);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.works__modal__content {
  background: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 75%;
  margin: 50px 0;
  line-height: 1.8;
}

.works__modal__category {
  text-align: center;

  .headding {
    opacity: .3;
    display: inline-block;
    margin: 0 auto;
  }
}

.works__modal__wrapper {
  padding: 0 30px 30px;
}

.works__modal__close {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 30px;
  line-height: 1;
  color: $bgColor;
}

.works__modal__item {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.works__modal__item-box {
  margin-bottom: 30px;
}

.works__modal__description {
  width: 75%;
  margin: 50px auto 70px;
  padding: 0 20px;

  a {
    color: inherit;
    transition: .3s;
  }

  a:hover {
    color: $moduleColor;
    transition: .3s;
  }

  span {
    display: block;
    font-weight: 700;
  }

  ul {
    padding-left: 1.5em;
    position: relative;
    margin-bottom: 50px;
    text-align: left;

    li {
      list-style: none;
    }

    li::before {
      font-family: "Font Awesome 5 free";
      content: "\f138";
      position: absolute;
      left: 0;
      color: $bgColor;
      font-weight: 900;
    }
  }
}

.works__modal__link-group {
  text-align: center;
  font-weight: 700;
}

.works__modal__2column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.works__modal__2column__item {
  margin: 0 10px;
  justify-content: space-around;

  img {
    border: 1px solid #f1f1f1;
  }
}

.works__modal__2column__description {
  margin: 0;
}

.footer {
  text-align: center;
  width: 100%;
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-top: 150px;
  padding-bottom: 70px;

  // &::before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   border-bottom: 5vw solid #999;
  //   /* ちら見せ三角 高さを調節*/
  //   border-left: 100vw solid transparent;
  // }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   border-bottom: 10vw solid #fff;
  //   /* 三角を白に */
  //   border-right: 100vw solid transparent;
  // }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 15vw solid #fff;
    border-left: 100vw solid transparent;
  }
}


.footer__wrapper {
  padding-top: 330px;
  line-height: 1.8;
}

.footer__triangle {
  position: absolute;
  border-top: 7.5vw solid transparent;
  border-right: 50vw solid #9BADC3;
  border-bottom: 7.6vw solid transparent;
  top: 0px;
  right: 0;
  z-index: 1;
}

.footer__message {
  display: block;
  font-family: 'Kaushan Script', cursive;
}

.footer__icons {
  margin-top: 200px;
  margin-bottom: 30px;
  font-size: 30px;


  a {
    margin-left: 15px;
    transition: .3s;

    &:nth-child(1) {
      margin-left: 0;
    }

    &:hover {
      color: $moduleColor;
      transition: .3s;
    }
  }
}